<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/atencion_solicitudes_ing_web</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">true</property>

		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/City.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/Client.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/Product.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/ProductType.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/Profile.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/Solicitude.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/SolicitudeType.hbm.xml" />
		<mapping resource="co/edu/udea/iw/PQRS/dao/mapping/Sucursal.hbm.xml" />
	</session-factory>
</hibernate-configuration>
